* {
    margin: 0px;
    padding: 0px;
}

.corpo_site {
    color: white;
    background-color: black;
}

.cabeçalho {
    text-align: center;
}

.cabeçalho_titulo {
    font-size: 100px;
}

.cabeçalho_subtitulo{
    font-size: 40px;
}
.introdução{
    text-align: center;
    text-align: justify;
    padding: 15px;
}
.paragrafo-introdução {
    font-size: 30px;
}
.foto_turma{
    width: 100%;
}
.paginassecundarias{
    display: inline-block;
    font-size: 20px;
    padding: 10%;
}
.botao_paginassecundarias{
    padding: 24px;
    background-color: white;
    color: black;
}